body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #b3ffb3;
    padding: 20px;
    border-radius: 5px;
    width: 330px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.remember-me {
    display: flex;
    align-items: center;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.submit-button, .cancel-button {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.submit-button {
    background-color: transparent;
    color: #198754;
    border: 2px solid #198754;
}

.submit-button:hover {
    background-color: #198754;
    color: white;
}

.cancel-button {
    background-color: transparent;
    color: #dc3545;
    border: 2px solid #dc3545;
}

.cancel-button:hover {
    background-color: #dc3545;
    color: white;
}

.error {
    color: red;
    display: block;
    margin-top: 10px;
}

.sign-up {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.sign-up:hover {
    text-decoration: underline;
}
